# Analyzing the effect of Starbucks locations on property values in the neighborhood

## The aim of the project is to establish quantitatively that proximity of central markets, using Starbucks as a case study makes a significant difference on estimated home values, appreciation, and average tax amounts in the neighborhood. A better understanding the data and/or patterns will help investors to determine which neighborhood to invest in property that will produce maximum return on investment.

###  Section 1. The analysis in this section is split into steps as follows:
####  1. Import of all relevant libraries and dependencies
####  2. Data Collection via relevant API's and extract data to csv files for data analysis
####  3. Analyse data and perform data cleaning to eliminate none relevant data 
####  4. Data analysis and visualization to better understand the data patterns for investment decisions.

## Step 1. Import all the required libraries and dependenciesfor the project

In [261]:
# Import the required libraries and dependencies
import pandas as pd
import hvplot.pandas
from pathlib import Path
import numpy as np
import os
import sqlalchemy
import requests
import sys
import requests
import json
#from dotenv import load_dotenv
from bs4 import BeautifulSoup

## Step 2. Data Collection via relevant API's and extract data to csv files for data analysis

### 2.1 Fetch the real estate data from the relevant API's data source

In [262]:
#Real Estate API

url = "https://realty-in-us.p.rapidapi.com/locations/auto-complete"

querystring = {"input":"Texas"}

headers = {
    'x-rapidapi-host': "realty-in-us.p.rapidapi.com",
    'x-rapidapi-key': "ad9c006358msh99b8a6bd807e76fp182be9jsn32392df16ceb"
    }

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"meta":{"build":"3.23.180"},"autocomplete":[{"area_type":"city","_id":"city:tx_texas-city","_score":8.9110775,"city":"Texas City","state_code":"TX","counties":[{"name":"Galveston","fips":"48167","state_code":"TX"}],"country":"USA","centroid":{"lon":-94.8926947,"lat":29.4337172},"slug_id":"Texas-City_TX","geo_id":"f2ce41cc-6bc1-5bce-822f-58fae07d11dd","county_needed_for_uniq":false},{"area_type":"city","_id":"city:il_texas-township","_score":8.435857,"city":"Texas Township","state_code":"IL","counties":[{"name":"De Witt","fips":"17039","state_code":"IL"}],"country":"USA","centroid":{"lon":-88.9717613,"lat":40.0989516},"slug_id":"Texas-Township_IL","geo_id":"661a1763-dd23-5c73-b6d8-6abb8bc6efb5","county_needed_for_uniq":false},{"area_type":"school","_id":"school:0768867301","_score":8.23613,"school_id":"0768867301","school":"Texas Torah Institute","line":"6506 Frankford Road","city":"Dallas","postal_code":"75252","state_code":"TX","country":"USA","centroid":{"lon":-96.792914,"lat":32.997377},"has_catchment":false,"slug_id":"Texas-Torah-Institute-0768867301","city_slug_id":"Dallas_TX"},{"area_type":"neighborhood","_id":"neigh:tx_georgetown_texas-traditions","_score":8.192991,"neighborhood":"Texas Traditions","city":"Georgetown","state_code":"TX","country":"USA","centroid":{"lon":-97.713414,"lat":30.669306},"slug_id":"Texas-Traditions_Georgetown_TX","geo_id":"48dcec49-0f2e-55fa-89dc-3385b5930d74"},{"area_type":"neighborhood","_id":"neigh:tx_willis_texas-national","_score":8.182912,"neighborhood":"Texas National","city":"Willis","state_code":"TX","country":"USA","centroid":{"lon":-95.437462,"lat":30.418692},"slug_id":"Texas-National_Willis_TX","geo_id":"1adbf75f-a831-5d23-befd-28f297ba379b"},{"area_type":"county","_id":"county:mo_texas","_score":8.132868,"county":"Texas County","state_code":"MO","country":"USA","centroid":{"lon":-91.9644783,"lat":37.3142565},"slug_id":"Texas-County_MO","geo_id":"da0ac544-7e0f-505b-9d21-f15d59d795f8"},{"area_type":"neighborhood","_id":"neigh:al_mobile_texas-street","_score":8.12333,"neighborhood":"Texas Street","city":"Mobile","state_code":"AL","country":"USA","centroid":{"lon":-88.048904,"lat":30.677917},"slug_id":"Texas-Street_Mobile_AL","geo_id":"84a611e6-89f7-5283-9956-a92f8212c3c8"},{"area_type":"neighborhood","_id":"neigh:tx_elgin_texas-heritage","_score":8.104431,"neighborhood":"Texas Heritage","city":"Elgin","state_code":"TX","country":"USA","centroid":{"lon":-97.447916,"lat":30.237548},"slug_id":"Texas-Heritage_Elgin_TX","geo_id":"42119efc-7132-5f6b-bd39-977e11d34119"},{"area_type":"neighborhood","_id":"neigh:tx_austin_texas-oaks","_score":8.098672,"neighborhood":"Texas Oaks","city":"Austin","state_code":"TX","country":"USA","centroid":{"lon":-97.817147,"lat":30.16789},"slug_id":"Texas-Oaks_Austin_TX","geo_id":"a5d60496-86df-5b2d-970a-08667429c93c"},{"area_type":"neighborhood","_id":"neigh:tx_sachse_texas-estates","_score":8.097232,"neighborhood":"Texas Estates","city":"Sachse","state_code":"TX","country":"USA","centroid":{"lon":-96.577723,"lat":32.963053},"slug_id":"Texas-Estates_Sachse_TX","geo_id":"20ed98be-d070-5005-8081-998104c6e97f"}]}

### 2.2 Using the read_csv function and Path module, create a pandas DataFrame for the Project1 estate data

####    1. Read the csv data from the database using pandas
####    2. Review the DataFrame using the describe function
####    3. Using .loc function filter the data by state -TX and by City of Austin

In [263]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the tableau_data.csv file from the Resources folder
project1eg_estate_data_df = pd.read_csv(
    Path('tableau_data_Filtered2.csv')
)

# Review the first and last five rows of the DataFrame
project1eg_estate_data_df

C:\Users\egeor\anaconda3\envs\pyviz\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (0,11,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,zipCode,StateName,State,City,Metro,CountyName,Date,Home Value,Inventory,median_listing_price,median_square_feet,month_date_yyyymm,RegionID,SizeRank,postal_code
0,1001,NaN,NaN,NaN,NaN,NaN,7/31/2016,231104.0,60.0,209050.0,1536.0,201607,NaN,NaN,1001.0
1,1001,NaN,NaN,NaN,NaN,NaN,8/31/2016,237450.0,67.0,229950.0,1449.0,201608,NaN,NaN,1001.0
2,1001,NaN,NaN,NaN,NaN,NaN,9/30/2016,227878.0,65.0,219950.0,1418.0,201609,NaN,NaN,1001.0
3,1001,NaN,NaN,NaN,NaN,NaN,10/31/2016,232283.0,65.0,209950.0,1418.0,201610,NaN,NaN,1001.0
4,1001,NaN,NaN,NaN,NaN,NaN,11/30/2016,239507.0,59.0,209050.0,1359.0,201611,NaN,NaN,1001.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781547,99950,NaN,NaN,NaN,NaN,NaN,4/30/2018,268943.0,14.0,275050.0,725.0,201804,NaN,NaN,99950
781548,99950,NaN,NaN,NaN,NaN,NaN,5/31/2018,268943.0,14.0,275050.0,725.0,201805,NaN,NaN,99950
781549,99950,NaN,NaN,NaN,NaN,NaN,6/30/2018,268943.0,14.0,275050.0,725.0,201806,NaN,NaN,99950
781550,99950,NaN,NaN,NaN,NaN,NaN,7/31/2018,256067.0,15.0,275050.0,700.0,201807,NaN,NaN,99950
781551,please contact economics@realtor.com for more ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,* year-over-year figures impacted in this area...,NaN,NaN,please contact economics@realtor.com for more ...

In [264]:
# Review the DataFrame using the describe function

project1eg_estate_data_df.describe()

,Home Value,Inventory,median_listing_price,median_square_feet,RegionID,SizeRank
count,7.775910e+05,781524.000000,7.775910e+05,777591.000000,3960.000000,3960.000000
mean,3.375361e+05,111.820958,3.441598e+05,1820.806044,403758.941667,98.125000
std,4.201224e+05,815.710807,3.627208e+05,745.000656,56076.781886,127.481227
min,1.233700e+04,13.000000,2.000000e+02,0.000000,394304.000000,1.000000
25%,1.519680e+05,25.000000,1.680500e+05,1479.000000,394526.250000,30.750000
50%,2.358060e+05,48.000000,2.592775e+05,1803.500000,394814.500000,60.500000
75%,3.752120e+05,95.000000,3.950500e+05,2189.000000,395045.750000,90.250000
max,2.242418e+07,74902.000000,1.980005e+07,9012.000000,753924.000000,672.000000

In [265]:
# filter the data in the DataFrame for only the Texas estate data as tx_df

tx_df = project1eg_estate_data_df.loc[project1eg_estate_data_df.State=="TX"]

# Review the first and last five rows of the DataFrame
tx_df

,zipCode,StateName,State,City,Metro,CountyName,Date,Home Value,Inventory,median_listing_price,median_square_feet,month_date_yyyymm,RegionID,SizeRank,postal_code
590682,75001,TX,TX,Addison,Dallas-Fort Worth-Arlington,Dallas County,10/31/2017,351009.0,25.0,370500.0,2069.0,201710.0,NaN,NaN,NaN
590683,75001,TX,TX,Addison,Dallas-Fort Worth-Arlington,Dallas County,11/30/2017,352627.0,27.0,375050.0,2129.0,201711.0,NaN,NaN,NaN
590684,75001,TX,TX,Addison,Dallas-Fort Worth-Arlington,Dallas County,12/31/2017,354777.0,25.0,379050.0,2002.0,201712.0,NaN,NaN,NaN
590685,75001,TX,TX,Addison,Dallas-Fort Worth-Arlington,Dallas County,1/31/2018,357192.0,19.0,377050.0,2014.0,201801.0,NaN,NaN,NaN
590686,75001,TX,TX,Addison,Dallas-Fort Worth-Arlington,Dallas County,2/28/2018,359760.0,20.0,370050.0,2053.5,201802.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
642314,79938,TX,TX,El Paso,El Paso,El Paso County,2/29/2020,161613.0,579.0,210000.0,1914.0,202002.0,NaN,NaN,NaN
642315,79938,TX,TX,El Paso,El Paso,El Paso County,3/31/2020,161684.0,550.0,211275.0,1952.0,202003.0,NaN,NaN,NaN
642316,79938,TX,TX,El Paso,El Paso,El Paso County,4/30/2020,161601.0,511.0,209500.0,1914.0,202004.0,NaN,NaN,NaN
642317,79938,TX,TX,El Paso,El Paso,El Paso County,5/31/2020,161363.0,398.0,214500.0,1954.0,202005.0,NaN,NaN,NaN
642318,79938,TX,TX,El Paso,El Paso,El Paso County,6/30/2020,161028.0,355.0,214750.0,1905.0,202006.0,NaN,NaN,NaN

In [266]:
# filter the data in the tx_df DataFrame for only the city of Austin as austin_df
austin_df = tx_df.loc[tx_df.City=="Austin"]

# Review the first and last five rows of the DataFrame
austin_df

,zipCode,StateName,State,City,Metro,CountyName,Date,Home Value,Inventory,median_listing_price,median_square_feet,month_date_yyyymm,RegionID,SizeRank,postal_code
633208,78617,TX,TX,Austin,Austin-Round Rock,Travis County,10/31/2017,191402.0,17.0,237050.0,1900.0,201710.0,NaN,NaN,NaN
633209,78617,TX,TX,Austin,Austin-Round Rock,Travis County,11/30/2017,192256.0,16.0,239198.0,2000.0,201711.0,NaN,NaN,NaN
633210,78617,TX,TX,Austin,Austin-Round Rock,Travis County,12/31/2017,192973.0,18.0,234196.0,1900.0,201712.0,NaN,NaN,NaN
633211,78617,TX,TX,Austin,Austin-Round Rock,Travis County,1/31/2018,194598.0,19.0,226911.5,2089.0,201801.0,NaN,NaN,NaN
633212,78617,TX,TX,Austin,Austin-Round Rock,Travis County,2/28/2018,195947.0,29.0,225096.0,2035.0,201802.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
636790,78759,TX,TX,Austin,Austin-Round Rock,Travis County,2/29/2020,541216.0,15.0,489950.0,1730.0,202002.0,NaN,NaN,NaN
636791,78759,TX,TX,Austin,Austin-Round Rock,Travis County,3/31/2020,546128.0,20.0,489950.0,1850.5,202003.0,NaN,NaN,NaN
636792,78759,TX,TX,Austin,Austin-Round Rock,Travis County,4/30/2020,550979.0,35.0,474950.0,1902.0,202004.0,NaN,NaN,NaN
636793,78759,TX,TX,Austin,Austin-Round Rock,Travis County,5/31/2020,555528.0,37.0,524950.0,1929.0,202005.0,NaN,NaN,NaN
636794,78759,TX,TX,Austin,Austin-Round Rock,Travis County,6/30/2020,558182.0,34.0,484550.0,1960.0,202006.0,NaN,NaN,NaN

## Step 3 Analyse the data and perform data cleaning to eliminate non relevant data  
#### 3.1- Using drop function to remove the columns not relevant to the analysis and save as austin_estate_df

In [267]:
# Use drop function to eliminate non relevant data
austin_estate_df = austin_df.drop(['StateName', 'State', 'CountyName', 'Inventory', 'month_date_yyyymm', 'RegionID', 'SizeRank', 'postal_code'], axis = 1)
#zipCode	StateName	State	City	Metro	CountyName	Date	Home Value	Inventory	median_listing_price	median_square_feet	month_date_yyyymm	RegionID	SizeRank	postal_code

# Review the first and last five rows of the DataFrame
austin_estate_df

,zipCode,City,Metro,Date,Home Value,median_listing_price,median_square_feet
633208,78617,Austin,Austin-Round Rock,10/31/2017,191402.0,237050.0,1900.0
633209,78617,Austin,Austin-Round Rock,11/30/2017,192256.0,239198.0,2000.0
633210,78617,Austin,Austin-Round Rock,12/31/2017,192973.0,234196.0,1900.0
633211,78617,Austin,Austin-Round Rock,1/31/2018,194598.0,226911.5,2089.0
633212,78617,Austin,Austin-Round Rock,2/28/2018,195947.0,225096.0,2035.0
...,...,...,...,...,...,...,...
636790,78759,Austin,Austin-Round Rock,2/29/2020,541216.0,489950.0,1730.0
636791,78759,Austin,Austin-Round Rock,3/31/2020,546128.0,489950.0,1850.5
636792,78759,Austin,Austin-Round Rock,4/30/2020,550979.0,474950.0,1902.0
636793,78759,Austin,Austin-Round Rock,5/31/2020,555528.0,524950.0,1929.0
636794,78759,Austin,Austin-Round Rock,6/30/2020,558182.0,484550.0,1960.0

In [294]:
austin_estate_df.insert(3, "starbucks_count", "0", True)
austin_estate_df

,zipCode,City,Metro,starbucks_count,Date,Home Value,median_listing_price,median_square_feet,starbucks_ExistCount,starbucksCount
633208,78617,Austin,Austin-Round Rock,0,10/31/2017,191402.0,237050.0,1900.0,0,0
633209,78617,Austin,Austin-Round Rock,0,11/30/2017,192256.0,239198.0,2000.0,0,0
633210,78617,Austin,Austin-Round Rock,0,12/31/2017,192973.0,234196.0,1900.0,0,0
633211,78617,Austin,Austin-Round Rock,0,1/31/2018,194598.0,226911.5,2089.0,0,0
633212,78617,Austin,Austin-Round Rock,0,2/28/2018,195947.0,225096.0,2035.0,0,0
...,...,...,...,...,...,...,...,...,...,...
636790,78759,Austin,Austin-Round Rock,0,2/29/2020,541216.0,489950.0,1730.0,0,0
636791,78759,Austin,Austin-Round Rock,0,3/31/2020,546128.0,489950.0,1850.5,0,0
636792,78759,Austin,Austin-Round Rock,0,4/30/2020,550979.0,474950.0,1902.0,0,0
636793,78759,Austin,Austin-Round Rock,0,5/31/2020,555528.0,524950.0,1929.0,0,0
636794,78759,Austin,Austin-Round Rock,0,6/30/2020,558182.0,484550.0,1960.0,0,0

In [269]:
#austin_estate_df.insert(4, "starbucks_count", "0", True)
#austin_estate_df

In [270]:
#austin_estate_df.loc[austin_estate_df[‘starbucks_exist’] condition, ‘starbucks_exist’] = ‘1 if condition is met’

# Section 2. Fetch and perform the analysis of the Starbucks location data as follows:

####  Step 1. Fetch real  Starbucks location data from Starbucks API, and read the csv data from the starbucks location database using pandas

In [271]:
# Yel API to show the location on map

"""url = "https://yelpapiserg-osipchukv1.p.rapidapi.com/getAutocomplete"

payload = "text=%3CREQUIRED%3E&accessToken=%3CREQUIRED%3E"
headers = {
    'content-type': "application/x-www-form-urlencoded",
    'x-rapidapi-host': "YelpAPIserg-osipchukV1.p.rapidapi.com",
    'x-rapidapi-key': "ad9c006358msh99b8a6bd807e76fp182be9jsn32392df16ceb"
    }

response = requests.request("POST", url, data=payload, headers=headers)

response"""

'url = "https://yelpapiserg-osipchukv1.p.rapidapi.com/getAutocomplete"\n\npayload = "text=%3CREQUIRED%3E&accessToken=%3CREQUIRED%3E"\nheaders = {\n    \'content-type\': "application/x-www-form-urlencoded",\n    \'x-rapidapi-host\': "YelpAPIserg-osipchukV1.p.rapidapi.com",\n    \'x-rapidapi-key\': "ad9c006358msh99b8a6bd807e76fp182be9jsn32392df16ceb"\n    }\n\nresponse = requests.request("POST", url, data=payload, headers=headers)\n\nresponse'

In [272]:
# Using the read_csv function and Path module, create a DataFrame 
# by importing the starbucks_data.csv file from the Resources folder

starbucks_data_df= pd.read_csv(
    Path("../Resources/data/starbucks_data.csv")
)
# Review the first and last five rows of the DataFrame
starbucks_data_df

,name,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,fax_1,fax_2,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
0,交易廣場,中環交易廣場3樓平台,香港,CN,NaN,US,21473739,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 6:30 AM to 8:30 PM, Thursday : 6:3...",22.283940,114.158190,NaN,NaN,NaN,NaN,NaN
1,德福廣場,九龍灣德福廣場一期A大堂G1A號,香港,CN,0,US,27541323,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 7:00 AM to 10:30 PM, Thursday : 7:...",22.322870,114.213440,NaN,NaN,NaN,NaN,NaN
2,荷李活廣場,九龍鑽石山荷里活廣場2樓298號鋪,香港,CN,NaN,US,29554570,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 8:30 AM to 10:30 PM, Thursday : 8:...",22.340700,114.201690,NaN,NaN,NaN,NaN,NaN
3,機鐵香港站,機鐵香港站HOK 3a & b 號,香港,CN,NaN,US,25375216,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 6:30 AM to 10:00 PM, Thursday : 6:...",22.284450,114.158460,NaN,NaN,NaN,NaN,NaN
4,太古廣場,"金鐘道太古廣場L1, 131號",香港,CN,0,US,29184762,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 7:00 AM to 9:30 PM, Thursday : 7:0...",22.277657,114.164619,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13613,Village Swindon,"Whitehill Way, Shaw Ridge Leisure Park",Swindon,GB,SN5 7DW,US,NaN,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 7:00 AM to 8:00 PM, Thursday : 7:0...",51.559830,-1.832880,NaN,NaN,NaN,NaN,NaN
13614,Xuchang Nanyang,"No.1, Nanyang St., Zhongzheng Dist., 2F",Taipei City,TW,10047,US,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,25.047001,121.509717,NaN,NaN,NaN,NaN,NaN
13615,Gothenburg Central Station,Drottningtorget 1,Gothenburg,SE,411 03,US,NaN,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 6:30 AM to 9:00 PM, Thursday : 6:3...",57.708750,11.973194,NaN,NaN,NaN,NaN,NaN
13616,Southside Marketplace.,"919 E. Fort Ave, Suite A",Baltimore,US,212305117,US,410 244-1934,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 10:00 PM, Thursday : 5:...",39.271266,-76.601215,NaN,NaN,NaN,NaN,NaN
13617,Wurzbach & NW Military,12003 NW Military Highway,San Antonio,US,78231,US,210-408-8398,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 10:00 PM, Thursday : 5:...",29.555890,-98.535469,NaN,NaN,NaN,NaN,NaN

####  Step 2. Review the DataFrame to identify relevant data missing, review first 5 rows of head and tail

In [273]:
# filter the data in the starbucks_data_df DataFrame for only the city of Austin as austin_starbucks_df
austin_starbucks_df = starbucks_data_df.loc[starbucks_data_df.city=="Austin"]

# Review the first five rows of the DataFrame
austin_starbucks_df.head()

,name,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,fax_1,fax_2,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
3780,Target Austin Southpark ST-22,"9500 S I-35, Feeder Rd Bldg G",Austin,US,78748,US,572-687-0634,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 8:00 AM to 9:00 PM, Thursday : 8:0...",30.163772,-97.793198,NaN,NaN,NaN,NaN,NaN
4388,I-35 & Slaughter,"9300 S I-35 Service Rd S Bound, G100",Austin,US,78748,US,512-291-8365,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 10:30 PM, Thursday : 5:...",30.165438,-97.788176,NaN,NaN,NaN,NaN,NaN
4546,Mopac & Parmer,2505 Parmer Lane,Austin,US,78727,US,512-973-9046,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 10:00 PM, Thursday : 5:...",30.418882,-97.702713,NaN,NaN,NaN,NaN,NaN
4547,I-35 & Barbara Jordan - Mueller W.,"1201 Barbara Jordan Blvd., 1200",Austin,US,78723,US,512-391-1801,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 10:00 PM, Thursday : 5:...",30.305797,-97.707999,NaN,NaN,NaN,NaN,NaN
4807,Circle C on Escarpment,"9600 Escarpment Blvd Bldg F, 700",Austin,US,78749,US,512-288-2309,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 10:00 PM, Thursday : 5:...",30.202645,-97.878722,NaN,NaN,NaN,NaN,NaN

In [274]:
# Review the last five rows of the DataFrame
austin_starbucks_df.tail()

,name,street_address,city,state,zip_code,country,phone_number_1,phone_number_2,fax_1,fax_2,...,email_2,website,open_hours,latitude,longitude,facebook,twitter,instagram,pinterest,youtube
11933,Ben White & Payload Pass,500A East Ben White Blvd,Austin,US,78704,US,(512) 912-9188,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 4:00 AM to 10:30 PM, Thursday : 4:...",30.220447,-97.757418,NaN,NaN,NaN,NaN,NaN
12164,Randalls - Austin #2483,715 Exposition,Austin,US,78703,US,5124775713,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 6:00 AM to 8:00 PM, Thursday : 6:0...",30.283641,-97.775785,NaN,NaN,NaN,NaN,NaN
12500,Rockwood & Anderson,2900 West Anderson Lane,Austin,US,78757,US,512-467-1548,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:30 AM to 10:00 PM, Thursday : 5:...",30.359800,-97.737930,NaN,NaN,NaN,NaN,NaN
12511,SR 71 & US 290,7015 West US Hwy 290,Austin,US,78736,US,512-288-0662,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 5:00 AM to 8:00 PM, Thursday : 5:0...",30.232495,-97.874087,NaN,NaN,NaN,NaN,NaN
13268,University of Texas Austin-Student,2101 Speedway,Austin,US,78712,US,512-471-6163,NaN,NaN,NaN,...,NaN,NaN,"Wednesday : 7:00 AM to 10:00 PM, Thursday : 7:...",30.284916,-97.736434,NaN,NaN,NaN,NaN,NaN

####  Step 3. Using drop function remove data column and rows not relevant to analysis and set index to street address

In [275]:
# Remove muliple columns not relevant to analysis and name the dataframe as clean_austin_starbucks_df

clean_austin_starbucks_df = austin_starbucks_df.drop(['phone_number_1', 'name', 'phone_number_2', 'email_1', 'email_2', 'website', 'open_hours', 'facebook', 'twitter', 'instagram', 'pinterest', 'youtube', 'fax_1', 'fax_2'], axis = 1)

# Review the first and last five rows of the DataFrame
clean_austin_starbucks_df.head()

,street_address,city,state,zip_code,country,latitude,longitude
3780,"9500 S I-35, Feeder Rd Bldg G",Austin,US,78748,US,30.163772,-97.793198
4388,"9300 S I-35 Service Rd S Bound, G100",Austin,US,78748,US,30.165438,-97.788176
4546,2505 Parmer Lane,Austin,US,78727,US,30.418882,-97.702713
4547,"1201 Barbara Jordan Blvd., 1200",Austin,US,78723,US,30.305797,-97.707999
4807,"9600 Escarpment Blvd Bldg F, 700",Austin,US,78749,US,30.202645,-97.878722

In [276]:
# Review the last five rows of the DataFrame
clean_austin_starbucks_df.tail()

,street_address,city,state,zip_code,country,latitude,longitude
11933,500A East Ben White Blvd,Austin,US,78704,US,30.220447,-97.757418
12164,715 Exposition,Austin,US,78703,US,30.283641,-97.775785
12500,2900 West Anderson Lane,Austin,US,78757,US,30.359800,-97.737930
12511,7015 West US Hwy 290,Austin,US,78736,US,30.232495,-97.874087
13268,2101 Speedway,Austin,US,78712,US,30.284916,-97.736434

# Section 3. Perform the analysis of the Starbucks Opening data in Austin City TX

## This step will provide and idea of the years that starbucks were built in the specific zip codes  
####    1. Read the csv data from the starbucks opening database using pandas
####    2. Review the DataFrame to identify relevant data missing
####    3. Using drop function remove data column and rows not relevant to analysis
####    4. Using .loc function filter the data by state -TX and by City of Austin
####    5. Using join or merge function, combine the starbucks opening data and location data to create a new dataframe.

In [277]:
# Sorting by column "zip_code"
#clean_austin_starbucks_df.sort_values(by=['zip_code'], ascending=True)
clean_austin_starbucks_df.set_index('street_address', inplace = True)
clean_austin_starbucks_df.rename (columns= { 'zip_code': 'starbucks_zipcode' }, inplace= True)
clean_austin_starbucks_df

,city,state,starbucks_zipcode,country,latitude,longitude
street_address,,,,,,
"9500 S I-35, Feeder Rd Bldg G",Austin,US,78748,US,30.163772,-97.793198
"9300 S I-35 Service Rd S Bound, G100",Austin,US,78748,US,30.165438,-97.788176
2505 Parmer Lane,Austin,US,78727,US,30.418882,-97.702713
"1201 Barbara Jordan Blvd., 1200",Austin,US,78723,US,30.305797,-97.707999
"9600 Escarpment Blvd Bldg F, 700",Austin,US,78749,US,30.202645,-97.878722
"3706 Guadalupe Street, A",Austin,US,78705,US,30.302490,-97.738511
"9722 Great Hills Trl, Ste 380",Austin,US,78759,US,30.394827,-97.752587
"6301 West Parmer Lane, 401",Austin,US,78729,US,30.444869,-97.743668
11220 FM 2222,Austin,US,78737,US,30.402909,-97.850324
5300 S Mo Pac Expy,Austin,US,78749,US,30.233992,-97.828317
300 E 4th St,Austin,US,78701,US,30.265468,-97.740448
"7709 E Ben White Blvd, 100",Austin,US,78744,US,30.217703,-97.689971
10107 Research Blvd,Austin,US,78759,US,30.392741,-97.744430
2025 W Ben White Blvd,Austin,US,78704,US,30.229427,-97.790097
"1001 Congress Avenue, 180",Austin,US,78701,US,30.271915,-97.741040
"907 W 5th St, Ste 102",Austin,US,78703,US,30.269783,-97.753911
"3300 Bee Cave Road, Ste 250",Austin,US,78746,US,30.275891,-97.800170
"600 Congress Ave., Ste. G-270",Austin,US,78701,US,30.268363,-97.742992
"1509 South Lamar Blvd, Suite 100",Austin,US,78704,US,30.252249,-97.763608
2300 S IH-35 South,Austin,US,78704,US,30.233718,-97.742404
10900 Lakeline Mall Blvd,Austin,US,78717,US,30.476102,-97.797131
3300 Bee Caves Rd,Austin,US,78746,US,30.275312,-97.799145
8040 Mesa Dr,Austin,US,78731,US,30.371352,-97.758351
501 West 15th Street,Austin,US,78701,US,30.278109,-97.744343
10900 Research Blvd.,Austin,US,78759,US,30.401922,-97.746901
"3317 Northland Dr, Ste A",Austin,US,78731,US,30.336904,-97.756879
7301 Ranch Rd 620,Austin,US,78726,US,30.405717,-97.851279
"6600 S Mopac Expressway, Ste 2100",Austin,US,78749,US,30.222267,-97.837272
6816 Westgate Blvd.,Austin,US,78749,US,30.207914,-97.815398
"12400 State Hwy 71 West, 710",Austin,US,78738,US,30.304831,-97.934117
1700 W Parmer Lane,Austin,US,78727,US,30.413281,-97.688202
"2727 Exposition Blvd., Unit #126",Austin,US,78703,US,30.304639,-97.764441
"504 W 24th St, Suite B",Austin,US,78705,US,30.287941,-97.742597
"4400 N Lamar, Ste 104",Austin,US,78756,US,30.312694,-97.738417
4006 S Lamar Blvd,Austin,US,78704,US,30.237675,-97.792549
9911 Brodie Lane,Austin,US,78748,US,30.184087,-97.848080
"11410 Mopac Expressway, Ste C09",Austin,US,78759,US,30.401886,-97.726353
500A East Ben White Blvd,Austin,US,78704,US,30.220447,-97.757418
715 Exposition,Austin,US,78703,US,30.283641,-97.775785
2900 West Anderson Lane,Austin,US,78757,US,30.359800,-97.737930
7015 West US Hwy 290,Austin,US,78736,US,30.232495,-97.874087
2101 Speedway,Austin,US,78712,US,30.284916,-97.736434

In [293]:
#clean_austin_starbucks_df = pd.DataFrame()
#clean_austin_starbucks_df.rename (columns= { 'zip_code': 'starbucks_zipcode' }, inplace= True)
#clean_austin_starbucks_df

In [279]:
# Filter starbucks opening locations in Austin City only
#austin_starbucks_opening_df= starbucks_opening_df.loc[starbucks_opening_df.city=="Austin"]
#austin_starbucks_opening_df

In [280]:
#clean_starbucks_opening_df = austin_starbucks_opening_df.drop(['name', 'market'], axis=1)
#clean_starbucks_opening_df

# Section 4. Analysze the data trend for investment decision

## Step 1: Analyze the data trend to establish location of Starbucks 
###   - Create new column in the estate data and named starbucks_exist
###   - Create another column and name it starbucks_count
###   - Create a list of zip codes from starbucks data and call it starbucks_Zipcodes from clean_starbucks_opening_df
###   - loc into clean-starbucks_df, if zipcode exist  enter 1 in the starbucks exist column of the estate_df dataframe, if not exist put 0
###   - The starbucks_count column on the new estate dataframe should list the total count of starbucks location within the same zipcode

In [281]:
# Generate a list of all zipcodes from the starbuck dataframe
zip_List = list(clean_austin_starbucks_df['starbucks_zipcode'])
zip_List

['78748',
 '78748',
 '78727',
 '78723',
 '78749',
 '78705',
 '78759',
 '78729',
 '78737',
 '78749',
 '78701',
 '78744',
 '78759',
 '78704',
 '78701',
 '78703',
 '78746',
 '78701',
 '78704',
 '78704',
 '78717',
 '78746',
 '78731',
 '78701',
 '78759',
 '78731',
 '78726',
 '78749',
 '78749',
 '78738',
 '78727',
 '78703',
 '78705',
 '78756',
 '78704',
 '78748',
 '78759',
 '78704',
 '78703',
 '78757',
 '78736',
 '78712']

## Step 2: Analyze the data trend to establish location of Starbucks 
#

In [290]:
# Create a function to search for a zipcode in the zipcode list and return result
# If ItemToReturn is "Exist", then it will return 1 for exist or 0 for non-exist
# If ItemToReturn is "Count", then it will return the count of zipcode found in the list
# Else, it will return -1 for error data

def starbucks_ExistCount(zipCode,zip_List,ItemToReturn):
    zip_exist = 0
    zip_count = zip_List.count(zipCode)
    if zip_count > 0:
        zip_exist = 1
    if ItemToReturn == 'Count': return(zip_count)
    if ItemToReturn == 'Exist': return(zip_exist)
    return(-1)

In [300]:
# Create new columns in the Austin  estate DataFrame and calculate its value from the function (Starbuck_ExistCount) above
# PROPERTY_DATAFRAME: Change this to the name of your property dataframe
# ZIPCODE_COLUMN: Change this to the name of the zipcode column in the property dataframe

austin_estate_df.drop(['starbucks_count', 'starbucksCount', 'starbucks_ExistCount'], axis=1)
#austin_estate_DataFrame

,zipCode,City,Metro,Date,Home Value,median_listing_price,median_square_feet
633208,78617,Austin,Austin-Round Rock,10/31/2017,191402.0,237050.0,1900.0
633209,78617,Austin,Austin-Round Rock,11/30/2017,192256.0,239198.0,2000.0
633210,78617,Austin,Austin-Round Rock,12/31/2017,192973.0,234196.0,1900.0
633211,78617,Austin,Austin-Round Rock,1/31/2018,194598.0,226911.5,2089.0
633212,78617,Austin,Austin-Round Rock,2/28/2018,195947.0,225096.0,2035.0
...,...,...,...,...,...,...,...
636790,78759,Austin,Austin-Round Rock,2/29/2020,541216.0,489950.0,1730.0
636791,78759,Austin,Austin-Round Rock,3/31/2020,546128.0,489950.0,1850.5
636792,78759,Austin,Austin-Round Rock,4/30/2020,550979.0,474950.0,1902.0
636793,78759,Austin,Austin-Round Rock,5/31/2020,555528.0,524950.0,1929.0
636794,78759,Austin,Austin-Round Rock,6/30/2020,558182.0,484550.0,1960.0

In [ ]:
cols = [10]
df.drop(df.columns[cols], axis=1, inplace=True)

In [286]:
austin_estate_df['starbucks_ExistCount'] = austin_estate_df.apply(lambda x: starbucks_ExistCount(x['zipCode'],zipcode_List,"Exist"),axis=1)
austin_estate_df['starbucksCount'] = austin_estate_df.apply(lambda x: starbucks_ExistCount(x['zipCode'],zipcode_List,"Count"),axis=1)

In [ ]:
#starbucks_Zipcode_list_df = {'0': ['ZipCode']}
starbucks_Zipcode_list_df.rename(index={0:'0'}, columns={0:'starbucks_Zipcode'}, inplace=True)

#new_df = starbucks_Zipcode_list_df.rename (columns= { '0': 'Stab_zipCode' }, inplace= True)
#starbucks_Zipcode_list_df

#starbucks_Zipcode_list_df.index.names = ['starb_zipCode']
#starbucks_Zipcode_list_df.columns.names = ['starb_zipCode']

starbucks_Zipcode_list_df
#new_df

In [ ]:

starbucks_Zipcode_list_df.rename(columns={0:'starbucks_Zipcode'}, inplace=True)

starbucks_Zipcode_list_df

In [ ]:
# Create a new dataframe and name it new_austin_estate_df

new_austin_estate_df = austin_estate_df.loc[starbucks_Zipcode_list]

new_austin_estate_df